<footer id="rodape">
  <div class="r">
    <p id="watermark"><strong>Nome da Empresa</strong> - Copyright &copy; 2010 - Todos os direitos reservados</p>
    <p id="insidecode">Desenvolvido por <strong>Inside Code Tecnologia</strong>&nbsp;&nbsp;[&nbsp;<a href="http://www.insidecode.com.br" target="_blank">www.insidecode.com.br</a>&nbsp;]</p>
  </div>
</footer>